<div class="login-page bg-c">
    <div class="container-login">
        <div class="brand">
            <img class="brand-img" src="/assets/img/login-page/logo.png" alt="#">
        </div>
        <div class="login-section" style="display: flex">
            <div class="fork">
                <img src="/assets/img/login-page/fork.png" class="" alt="#" width="150px">
            </div>
            <form class="login-form" style="display: flex;flex-direction: column;padding: 3.4vw" [formGroup]="signupForm">
                <div class="login-form__header">
                    <h5>TẠO TÀI KHOẢN MỚI</h5>
                </div>
                <div class="login-form__username">
                    <label for="username">Tên đăng nhập</label>
                    <input class="input-green" type="text" id="username" [formControlName]="'username'"
                           name="user_name"
                           required
                           autofocus
                    >
                    <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                                   Please provide a valid username
                                </span>
                </div>
                <div class="login-form__email">
                    <label for="email-login">Email</label>

                    <input type="email" id="email-login" class="input-green" [formControlName]="'email'"
                           name="email"
                           required>
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                                  Email cannot be empty
                                </span>
                </div>
                <div class="login-form__password">
                    <label for="password-login">Mật khẩu</label>

                    <input type="password" id="password-login" class="input-green" [formControlName]="'passwords'"
                           name="passwords"
                           required>
                    <span *ngIf="!signupForm.get('passwords').valid && signupForm.get('passwords').touched">
                                  Password cannot be empty
                                </span>
                </div>
                <div class="login-form__password">
                    <label for="retype-password-login">Nhập lại mật khẩu</label>

                    <input type="password" id="retype-password-login" class="input-green" [formControlName]="'retypePasswords'"
                           name="retypePasswords"
                           required>
                    <span *ngIf="!signupForm.get('retypePasswords').valid && signupForm.get('retypePasswords').touched">
                                  Retype password cannot be empty
                                </span>
                </div>
                <div class="login-form__btn-submit">
                    <button class="btn-login" (click)="signup()">Đăng kí</button>
                </div>
            </form>

            <div class="knife">
                <img src="/assets/img/login-page/login-knife.png" alt="#" width="150px">
            </div>
        </div>
    </div>
</div>

